.container {
  :global {
    // @import '~github-calendar/dist/github-calendar-responsive';

    .contrib-number {
      color: inherit;
    }

    a {
      display: none;
    }
  }

  width: 100%;
}

