.container {
  :global {
    // @import '~github-calendar/dist/github-calendar-responsive';

    .contrib-number {
      color: inherit;
    }

    .contrib-column {
      font-size: inherit;
    }

    .ContributionCalendar-label {
      font-size: .7rem;
    }

    a {
      display: none;
    }
  }

  width: 100%;
}

