// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  background-color: #282c34;
  // font-family: "Open Sans", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji";
  font-family: 'Encode Sans', sans-serif;
  color: #eee;
  margin: 0;
}